site_name: Курс "Основы алгоритмического программирования"


theme:
  name: 'material'
  language: 'ru'
  
plugins: []
#extra:
#  search:
#    language: 'en, ru'
  
nav:
    - Главная: index.md
    - Курс Python:
        - Установка программного обеспечения: course_py/install.md
        - 1. Основы алгоритмизации и программирования:
            - 1.1. Блок-схема и псевдокод: course_py/p1/t1.md
            - 1.2. Целое число: course_py/p1/t2.md
            - 1.3. Вещественное число: course_py/p1/t3.md
            - 1.4. Строковый тип данных: course_py/p1/t4.md
            - 1.5. Переменные, присваивание: course_py/p1/t5.md
            - 1.6. Логический тип данных: course_py/p1/t6.md
            - 1.7. Знакомство с оператором ветвления if в Python: course_py/p1/t7.md
            - 1.8. Блоки ветвления else-elif - более глубокое изучение if: course_py/p1/t8.md
            - 1.9. Вложенные условные операторы: course_py/p1/t9.md
            - 1.10. Цикл с параметром for: course_py/p1/t10.md
            - 1.11. Цикл while: course_py/p1/t11.md
            - 1.12. Условные конструкции в циклах: course_py/p1/t12.md
            - 1.13. Встроенные функции: course_py/p1/t13.md
            - 1.14. Пользовательские функции: course_py/p1/t14.md
            - 1.15. Использование классов: course_py/p1/t15.md
    - Задачи:
        - 1. Основы алгоритмизации и программирования:
            - 1.1. Редактор, запуск кода: tasks/p1/t1.md
            - 1.2. Целое число: tasks/p1/t2.md
            - 1.3. Вещественное число: tasks/p1/t3.md
            - 1.4. Строковый тип данных: tasks/p1/t4.md
            - 1.5. Переменные, присваивание: tasks/p1/t5.md
            - 1.6. Логический тип данных: tasks/p1/t6.md
            - 1.7. Знакомство с оператором ветвления if в Python: tasks/p1/t7.md
            - 1.8. Блоки ветвления else-elif - более глубокое изучение if: tasks/p1/t8.md
            - 1.9. Вложенные условные операторы: tasks/p1/t9.md
            - 1.10. Цикл с параметром for: tasks/p1/t10.md
            - 1.11. Цикл while: tasks/p1/t11.md
            - 1.12. Условные конструкции в циклах: tasks/p1/t12.md
            - 1.13. Встроенные функции: tasks/p1/t13.md
            - 1.14. Пользовательские функции: tasks/p1/t14.md
            - 1.15. Использование классов: tasks/p1/t15.md
    - Технические статьи:
        - Шпаргалка по Markdown: tech/cheatsheet.md
        - Выкладывание на Github pages: tech/deploy.md
        - Семантический конспект: tech/semantic.md
        - Процедурная модель: tech/procedural.md
        - Курс Flowgoritm (не поддерживается):
            - Установка программного обеспечения: course_flow/prep/install.md
            - 1. Основы алгоритмизации и программирования:
                - 1.1. Алгоритм и блок-схема: course_flow/p1/t1.md
                - 1.2. Переменные и константы: course_flow/p1/t2.md
                - 1.3. Основные операции с переменными: course_flow/p1/t3.md

markdown_extensions:
    - tables
    - admonition
    - attr_list
    - pymdownx.details
    - pymdownx.emoji
    - pymdownx.mark
    - pymdownx.caret
    - pymdownx.arithmatex:
        generic: true
    - pymdownx.superfences:
        custom_fences:
           - name: mermaid
             class: mermaid
             format: !!python/name:pymdownx.superfences.fence_div_format
             
extra_css:
  - mermaid/mermaid.css
  - katex/katex.min.css
extra_javascript:
  - mermaid/mermaid.min.js
  - katex/mkdocs_load.js
  - katex/katex.min.js
    